.cards
{
  display: flex;
  justify-content: center;
}

.card{
  width: 15vw;
  height: 25vh;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card:not(:last-child)
{
  margin-right: 5px;
}

.card:hover
{
  background-color: blue;
}

.info
{
  width: 15vw;
    display: flex;
    justify-content: space-evenly;
}
